@use "../../abstracts" as *;

.content{
  &__row{
    grid-template-columns: max(35rem) 1fr;

    &__aside{
      &__sidebar{
        ul{
          li{
            padding: var(--fs-300);
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1 !important;
            background: var(--clr-light-blue-500);
            @include transition(background);

            &:hover{
              background: darken($light-blue, 5%);
              color: var(--clr-primary-500);
              @include transition(all);

              a{
                height: 100%;
                color: var(--clr-primary-500);;
              }
            }

            &:nth-child(2){
              display: none;
            }

            &:not(:last-child){
              border-bottom: 1px solid #DDD;
            }

            &.active{
              border-left: 5px solid var(--clr-primary-500);

              &:hover{
                color: var(--clr-neutral-500);
                background: var(--clr-light-blue-500);
              }
            }
          }
        }

        &__cta{
          padding: var(--fs-600);
          background:{
            image: url("../images/background-telefone.jpg");
            size: cover;
            position: center top;
          }

          &__icon{
            position: relative;
            margin: var(--fs-400) auto;
            width: 11rem;
            height: 11rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1!important;

            &::before{
              position: absolute;
              width: 120%;
              height: 120%;
              content: '';
              background: rgba($primary, .3);
              border-radius: 50%;
              z-index: 0;
              transform: translate(-50%, -50%) !important;
              animation: scale 1800ms infinite alternate-reverse;

              @keyframes scale {
                from {
                  opacity: 1;
                  transform: scale(1);
                }

                to {
                  opacity: 0;
                  transform: scale(1.08);
                }
              }
            }

            i{
              z-index: 1;
            }
          }
        }

        &__catalogue{
          .title{
            margin-bottom: var(--fs-500) !important;

            &__divider{
              margin-top: 12px;
            }
          }
        }
      }
    }

    &__container{
      &__row{
        &__card{
          padding: calc(var(--gap) * 2);
          display: flex;
          gap: 0;

          &.strech{
            flex-flow: column;
          }

          &__icon{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 12px;
            margin: 0 auto;
            width: 14rem;
            height: 10rem;
            background: {
              image: url("../images/background-products.jpg");
              size: contain;
              position: center;
              repeat: no-repeat;
            }
          }

          &__header{
            h3{
              font-size: 2rem;
            }
          }

          &__body{
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
          }
        }
      }
    }
  }

  //breakpoint tablet
  @include mq(md){
    &__row{
      grid-template-columns: 1fr;
      gap: var(--fs-800);

      &__container{
        order: -1;
      }
    }
  }
}