@use "../../abstracts" as *;

.content{
  &__row{
    &__container{
      &__row{
        &__gallery{
          grid-template-columns: repeat(3, 1fr);
          gap: var(--gap);

          &__card {
            height: 20rem;
            transform: scale(1);
            @include transition(all);

            &:hover {
              transform: scale(.98);
              filter: blur(1px);
              @include transition(all);
            }
          }
        }
      }
    }
  }
}