@use "../../abstracts" as *;

.pillars{
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 29rem;
    height: 41.3rem;
    display: block;
    content: '';
    background: {
      image: url("../images/vetor-topo.png");
      size: contain;
      position: right top;
      repeat: no-repeat;
    }
  }

  &::after{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8.8rem;
    height: 47.1rem;
    display: block;
    content: '';
    background:{
      image: url("../images/vetor-baixo.png");
      size: contain;
      position: left bottom;
      repeat: no-repeat;
    }
  }

  &__row{
    position: relative;
    z-index: 1;

    &__card{
      padding: calc(var(--gap) * 2);

      &__icon{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 12px;
        margin: 0 auto;
        width: 14rem;
        height: 10rem;
        background: {
          image: url("../images/background-products.jpg");
          size: contain;
          position: center;
          repeat: no-repeat;
        }
      }

      &__header{
        h3{
          font-size: 2rem;
        }
      }
    }
  }
}